{% extends 'base.html' %} {% block content %}


<table class="table table-bordered">
    <thead>
        <tr>
            <td>Rut </td>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
            <td>Acción</td>
        </tr>

    </thead>

    <tbody>
        {% if object_list %}
        {% for usuario in object_list %}
        <tr>
            <td> {{ usuario.rut }}</td>
            <td> {{ usuario.nombres }}</td>
            <td> {{ usuario.apellido_p }}</td>
            <td> {{ usuario.apellido_m }}</td>
           <td> 
                <a class="btn btn-primary" href="{% url 'usuario:usuario_editar' usuario.rut%}">Editar</a>
                <a class="btn btn-danger" href="{% url 'usuario:usuario_eliminar' usuario.rut%}">Eliminar</a>
            </td>

        </tr>
        {% endfor%}

        {% else %}

        <h1>No hay registros</h1>

        {% endif %}

    </tbody>



</table>

{% endblock %}