{% extends "admin/change_form.html" %}

{% block after_related_objects %}


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <a id="url_custom" >Responder Reclamación</a>
    <input type="hidden" id="id_usuario" name="id_usuario" />

    <script>


$(function () {
    //console.log(location.href);
    var ruta = location.href;
    var splited = ruta.split("/");
    //var splited2 = splited.split("/change/");
    console.log(splited[6]);
    $('input#id_usuario').val(splited[6]);
    $('#url_custom').attr("href", "/responder_reclamacion/"+splited[6]);


});

</script>
{% endblock %}
