{% extends 'templates/base2.html' %}

{% block content %}








     <div class="row">
    			<div class="col-md-8 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Reestablecer Contraseña</h2>
						<div class="card-body">
							<div class="row">


								<div class="col-md-2"></div>

								<div class="col-md-8 mr-auto">

                                 <form name="formRut" class="form" method="post" action="">
    {% csrf_token %}

        <b>{{ message }}</b>


    <div class="form-group label-floating">
    <label class="bmd-label-floating" for="pass1_input">Ingrese Nuevo Password</label>
    <input type="password" id="pass1_input" class="form-control" name="pass1_input" required>

        </div>

                                     <div class="form-group label-floating">
    <label class="form-group bmd-label-floating" for="pass2_input">Confirma tu nueva Password</label>
    <input type="password" id="pass2_input" class="form-control" name="pass2_input" required>
    </div>


    <button type="submit" class="btn btn-primary btn-round">Aceptar</button>

    <h2>{{ message }}</h2>

    </form>





								</div>
							</div>
						</div>
					</div>
                </div>
            </div>




{% endblock %}