{% extends 'templates/base2.html' %}

{% block content %}


    <h3>Cambio de Contraseña</h3>





    <div class="row">
    			<div class="col-md-8 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Inicio de Sesión</h2>
						<div class="card-body">
							<div class="row">


								 <form name="formRut" class="form" method="post" action="">
    {% csrf_token %}

        <b>{{ message }}</b>

    <label value="Password"></label>
    <input type="password" id="pass1_input" class="form-control" name="pass1_input" required>

    <label value="Confirma Password"></label>
    <input type="password" id="pass2_input" class="form-control" name="pass2_input" required>

    <button type="submit" class="btn btn-primary btn-round">Aceptar</button>

    <h2>{{ message }}</h2>

    </form>




								</div>
							</div>
						</div>
					</div>
                </div>
            </div>


{% endblock %}