{% extends 'templates/base2.html' %}

{% block content %}


    <h3>Página de INICIO HOME</h3>

{% if finalizado %}

    <script>
   gtag('event', 'Fin_tramite_UA-136932874-6', {
        'event_category': 'PERITOS MENSURADORES',
        'event_label': ' Fin Trámite UA-136932874-6'
   });
    </script>

    {% endif %}

    {% if user.is_authenticated %}


    <p>Bienvenido, <b>{{ nombres }} {{ ape1 }}</b></p>


      {% if message %}
          <br>  {{ message }}
      {% endif %}

      {% if message2 %}
        <br> {{ message2 }}
      {% endif %}

        {% if message3 %}
        <br> {{ message3 }}
      {% endif %}
    {% else %}
    <p>Hola, no estás logeado</p>

    {% endif %}

{% endblock %}
