{% extends 'base2.html' %} {% block content %}


    {% if message %}
    <b>{{ message }}</b>
    {% endif %}


    <div class="row">
    			<div class="col-md-8 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Inicio de Sesión</h2>
						<div class="card-body">
							<div class="row">


								<div class="col-md-2"></div>

								<div class="col-md-8 mr-auto">


									<form class="form" method="post" action="">
                                        {% csrf_token %}
										<div class="form-group label-floating">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">face</i>
												</span>
											    {{ form.username }}
											</div>
										</div>


										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">lock_outline</i>
												</span>
												{{ form.password }}
											</div>
										</div>


										<div class="text-center">

                                            <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
										</div>

                                        <div class="text-left">
                                            <a href="/registro" class="dropdown-item">
                                                <i class="material-icons">perm_identity</i>Registrar Nuevo Usuario
                                            </a>


                                            <div class="text-left">
                                            <a href="/reset_password" class="dropdown-item">
                                                <i class="material-icons">perm_identity</i>Reestablecer Contraseña
                                            </a>

                                        </div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>



{% endblock %}