{% extends 'base2.html' %} {% block content %}


    {% if message %}
    <b>{{ message }}</b>
    {% endif %}


    <div class="row">
    			<div class="col-md-8 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Inicio de Sesión</h2>
						<div class="card-body">
							<div class="row">


								<div class="col-md-2"></div>

								<div class="col-md-8 mr-auto">


									<form class="form" method="post" action="">
                                        {% csrf_token %}
										<div class="form-group label-floating">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">face</i>
												</span>
											    {{ form.username }}
											</div>
										</div>


										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">lock_outline</i>
												</span>
												{{ form.password }}
											</div>
										</div>


										<div class="text-center">

                                            <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>



{% endblock %}