{% extends 'templates/base2.html' %} {% block content %}
{% load material_form %}

 <form class="form" method="post" action="">
                                        {% csrf_token %}



    <div class="row">
    			<div class="col-md-12 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Registro de Nuevo Usuario</h2>
						<div class="card-body">
							<div class="row">


								<div class="col-md-6">

                                            <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.nombres.name }}">{{ profile_form.nombres.label }}</label>
                                                {{ profile_form.nombres }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.apellido_m.name }}">{{ profile_form.apellido_m.label }}</label>
                                                {{ profile_form.apellido_m }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.comuna.name }}">{{ profile_form.comuna.label }}</label>
                                                {{ profile_form.comuna }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.direccion_empresa.name }}">{{ profile_form.direccion_empresa.label }}</label>
                                                {{ profile_form.direccion_empresa }}
											</div>

                                     <div class="form-group date  col-md-10" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                                                <label class="bmd-label-floating" for="{{ profile_form.fecha_nac.name }}">{{ profile_form.fecha_nac.label }}</label>
                                                {{ profile_form.fecha_nac }}
											</div>


                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.telefono_cel.name }}">{{ profile_form.telefono_cel.label }}</label>
                                                {{ profile_form.telefono_cel }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.profesion.name }}">{{ profile_form.profesion.label }}</label>
                                                {{ profile_form.profesion }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.telefono_casa.name }}">{{ profile_form.telefono_casa.label }}</label>
                                                {{ profile_form.telefono_casa }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.universidad.name }}">{{ profile_form.universidad.label }}</label>
                                                {{ profile_form.universidad }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.rut.name }}">{{ profile_form.rut.label }}</label>
                                                {{ profile_form.rut }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ user_form.password.name }}">{{ user_form.password.label }}</label>
                                                {{ user_form.password }}
											</div>


								</div>

                                <div class="col-md-6">

                                         <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.apellido_p.name }}">{{ profile_form.apellido_p.label }}</label>
                                                {{ profile_form.apellido_p }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.direccion.name }}">{{ profile_form.direccion.label }}</label>
                                                {{ profile_form.direccion }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.empresa.name }}">{{ profile_form.empresa.label }}</label>
                                                {{ profile_form.empresa }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.estado_civil.name }}">{{ profile_form.estado_civil.label }}</label>
                                                {{ profile_form.estado_civil }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.genero.name }}">{{ profile_form.genero.label }}</label>
                                                {{ profile_form.genero }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.nacionalidad.name }}">{{ profile_form.nacionalidad.label }}</label>
                                                {{ profile_form.nacionalidad }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                         <label class="bmd-label-floating" for="selectRegiones"> Selecciona Región</label>
                                         <select name="{{ profile_form.region.name }}" id="{{ profile_form.name }}" class="form-control">
                                                  {% for item in regiones %}
                                                      <option val = {{ item.nombre}}> {{ item.nombre }} </option>
                                                  {% endfor %}


                                              </select>
											</div>


                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.telefono_empresa.name }}">{{ profile_form.telefono_empresa.label }}</label>
                                                {{ profile_form.telefono_empresa }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ profile_form.year_titulo.name }}">{{ profile_form.year_titulo.label }}</label>
                                                {{ profile_form.year_titulo }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ user_form.username.name }}">{{ user_form.username.label }}</label>
                                                {{ user_form.username }}
											</div>

                                     <div class="form-group label-floating col-md-10">
                                                <label class="bmd-label-floating" for="{{ user_form.email.name }}">{{ user_form.email.label }}</label>
                                                {{ user_form.email }}
											</div>

                                </div>



                            </div>

                            <div class="text-center">

                                            <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
										</div>
						</div>
					</div>
                </div>
            </div>



	</form>


{% endblock %}