<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Postulación</title>

     <style>

        p {
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
        }

        h2{
            font-family: Arial;
            font-weight: bold;
            font-size: 18px;

        }

        h3{
            font-family: Arial;
            font-weight: bold;
            font-size: 14px;
        }




    </style>

</head>
<body>

{% load static %}
<img src="{% static 'img/logo_sern.png' %}" height="15" width="15">

<h2>FICHA NUEVO PERITO MENSURADOR 2019</h2>
<br>
<br>
<br>


<h3>ANTECEDENTES PERSONALES</h3>

<br>

<p>NOMBRES: {{ dic.nombres }}</p>
<p>APELLIDOS: {{ dic.apellidos }}</p>
<p>NACIONALIDAD: {{ dic.nacionalidad }}</p>
<p>ESTADO CIVIL: {{ dic.estado_civil }}</p>
<p>RUT: {{ dic.rut }}</p>
<p>DOMICILIO: {{ dic.domicilio }}</p>
<p>COMUNA: {{ dic.comuna }}</p>
<p>REGIÓN: {{ dic.region }}</p>
<p>TELÉFONO: {{ dic.telefono }}</p>
<p>CELULAR: {{ dic.celular }}</p>
<p>EMAIL: {{ dic.email }}</p>

<br>
<br>
<br>


<h3>ANTECEDENTES PROFESIONALES Y LABORALES</h3>

<br>


<p>PROFESIÓN: {{ dic.profesion }}</p>
<p>EMPRESA DONDE SE DESARROLLA: {{ dic.empresa }}</p>
<p>DIRECCIÓN EMPRESA: {{ dic.diremp }}</p>
<p>TELÉFONO EMPRESA: {{ dic.telemp }}</p>
<p>FECHA DE PROCESO: {{ dic.fecha_proceso }}</p>
<p>REGIONAL DONDE RENDIRÁ EL EXÁMEN: {{ dic.region_examen }}</p>

</body>
</html>