{% extends 'base2.html' %} {% block content %}

    <form class="form" method="POST" action="">
    {% csrf_token %}
    <label for="selectPeriodo"> Selecciona Periodo: </label>
    <select name="selectPeriodo" id="selectPeriodo">
        {% if listaPeriodos %}
            {% for listado in listaPeriodos %}
                <option value="{{ listado.periodo }}">{{ listado.periodo }}</option>
            {% endfor %}
        {% endif %}

    </select>
    <button type="submit" class="btn btn-primary btn-round">Aceptar</button>

    </form>

<div class="card">
	<div class="card-header" style="background: #c87050" >
		<h4 class="title">Mensuras Generales</h4>
		<p class="category">Promedio de Mensuras por Usuario</p>
	</div>
	<div class="card-content table-responsive table-full-width">
		<table class="table">
			<thead class="text-danger">
				<th>Usuario</th>
				<th>N° Mensuras</th>
				<th>Periodo</th>
				<th>Promedio</th>
                <th>Empresa</th>
                <th>Situación</th>
			</thead>
			<tbody>

        {% if objeto2 %}

        <tr>


            <td>  {{ objeto2.nombrePer }}</td>
            <td>  {{ objeto2.movPer }}</td>
            <td>  {{ objeto2.periodo }}</td>
            <td>  {{ objeto2.notaPromedio }}</td>
            <td>  {{ objeto2.empresa }}</td>
            <td>  {{ objeto2.situacion }}</td>



        </tr>

        {% endif %}


			</tbody>
		</table>

	</div>
</div>

{% endblock %}