{% extends 'base2.html' %} {% block content %}

    <form class="form" method="POST" action="">
    {% csrf_token %}

    {% if estado %}
    <label for="selectPeriodo"> Selecciona Periodo: </label>
    <select name="selectPeriodo" id="selectPeriodo">
        {% if listaPeriodos %}

            {% for listado in listaPeriodos %}
                <option value="{{ listado }}">{{ listado }}</option>
            {% endfor %}
        {% endif %}

    </select>
    <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
    {% endif %}

    </form>

<div class="card">
	<div class="card-header" style="background: #c87050" >
		<h4 class="title">Mensuras Generales</h4>
		<p class="category">Promedio de Mensuras por Usuario</p>
	</div>
	<div class="card-content table-responsive table-full-width">
		<h3> {{ message }}</h3>
        {% if objeto2 %}
        <table class="table">
			<thead class="text-danger">
				<th>Usuario</th>
				<th>N° Mensuras</th>
				<th>Periodo</th>
				<th>Promedio</th>
                <th>Empresa</th>
                <th>Situación</th>
                <th>Ver Detalle</th>
			</thead>
			<tbody>




        <tr>


            <td>  {{ objeto2.nombrePer }}</td>
            <td>  {{ objeto2.movPer }}</td>
            <td>  {{ objeto2.periodo }}</td>
            <td>  {{ objeto2.notaPromedio }}</td>
            <td>  {{ objeto2.empresa }}</td>
            <td>  {{ objeto2.situacion }}</td>
            <td>  <a class="navbar-brand" href="detalle_mensura/{{ objeto2.periodo }}">Ver Detalle </a></td>



        </tr>




			</tbody>
		</table>
        {% endif %}


    {% if objeto_detalle %}


    <table class="table">
			<thead class="text-danger">
				<th>Rol</th>
				<th>Nombre Mensura</th>
				<th>Fecha </th>
                <th>Nota</th>

			</thead>
			<tbody>



         {% for notas in objeto_detalle %}
        <tr>

            <td>  {{ notas.norol }}</td>
            <td>  {{ notas.nombreCons }}</td>
            <td>  {{ notas.fecper }}</td>
            <td>  {{ notas.notaParcial }}</td>

        </tr>
            {% endfor %}


			</tbody>
		</table>

    {% endif %}



	</div>
</div>

{% endblock %}