{% extends 'templates/base2.html' %}

{% block content %}


    {% load material_form %}

 <form class="form" method="post" action="">
                                        {% csrf_token %}



    <div class="row">
    			<div class="col-md-12 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Ingresar Apelación</h2>
						<div class="card-body">
							<div class="row">
                                <b>{{ message }}</b>


                                <div class="col-md-1"></div>

								<div class="col-md-10">


                                   <div class="form-group label-floating col-md-10">

                                       {% if renovante %}

                                       <h4>La opción de Apelación es sólo para Usuarios que han realizado el exámen este periodo</h4>

                                       {% else %}

                                    <h4>La reclamación es solo para los Postulantes, o sea para quienes rindieron el examen de competencias para postular al cargo de perito mensurador. El objetivo de la Reclamación es poder aclarar dudas sobre la revisión del examen y de la nota obtenida.
Una vez registrada la reclamación en la plataforma, el Sernageomin tiene un plazo de 5 días hábiles para comunicarse con el postulante (a través del mail registrado en la plataforma), para citarlo a una reunión en donde se le mostrará la corrección de su examen.
</h4>


                                        <textarea id="txtApelacion" name="txtApelacion" rows="10" cols="100" required></textarea>

											</div>

                                    {% endif %}

								</div>

<!--                                <div class="col-md-6">

                                </div> -->



                            </div>

                            <div class="text-center">

                                            <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
										</div>
						</div>
					</div>
                </div>
            </div>



	</form>



{% endblock %}
