{% extends 'templates/base2.html' %}

{% block content %}


    {% load material_form %}

 <form class="form" method="post" action="">
                                        {% csrf_token %}



    <div class="row">
    			<div class="col-md-12 ml-auto mr-auto">
					<div class="card card-signup">
						<h2 class="card-title text-center">Ingresar Apelación</h2>
						<div class="card-body">
							<div class="row">
                                <b>{{ message }}</b>


                                <div class="col-md-1"></div>

								<div class="col-md-6">

                                   <div class="form-group label-floating col-md-10">


                                        <textarea id="txtApelacion" name="txtApelacion" rows="10" cols="100" required></textarea>

											</div>


								</div>

<!--                                <div class="col-md-6">

                                </div> -->



                            </div>

                            <div class="text-center">

                                            <button type="submit" class="btn btn-primary btn-round">Aceptar</button>
										</div>
						</div>
					</div>
                </div>
            </div>



	</form>



{% endblock %}