{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8" /> 
<head>
    
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}



    <title>Sistema de Postulación y Renovación Peritos Mensuradores | {% block title %}Inicio{% endblock %}</title>
</head>
<body>
    <div id="header">

        {% if user.is_authenticated %}
        <p>Bienvenido, <b>{{ user.username }}</b></p>
        {% else %}
            <p>Bienvenido. Por favor <a href="{% url "login" %}">log in</a> </p>
        {% endif %}


        <h1>Sistema de Postulación y Renovación Peritos Mensuradores</h1>
    </div>
    <div id="content">
        {% block content %}
        
        <h3>Contenido Base</h3>
        
        {% endblock %}
    </div>
    

</body>
</html>